extends layout

block content
	div(ng-controller = "mainController")

		div(ng-switch="curr_view")
			div(ng-switch-when="home")
				include home.jade
			div(ng-switch-when="posts")
				include posts.jade
			div(ng-switch-when="members")
				include members.jade
			div(ng-switch-default)
				include home.jade



