extends layout

block content
	//- Sample code below from JADE tutorial session

	//- this title variable comes from express route which passes in title
	//- h1= title
	//- p Welcome to #{title}

	//- div
	//- 	- var my_var = 123;
	//- 	if (title=="")
	//- 		div.my_class.my_second_class(style="color:red", class="another_class") I'm a div inside the previous one #{my_var}
	//- 	div#my_id.
	//- 		content applied because of previous dot. #{my_var}

	//- p Title: {{title}}

	h1 Welcome to #{title}

	ul.list-unstyled
		li(ng-repeat="post in posts")
			div.panel.panel-default
				div.panel-heading Title: {{post.title}}
				div.panel-body Body: {{post.body}}
				button(ng-click="toggleComments(post)") Comments
				div.panel.panel-default(ng-repeat="comment in post.comments")
					div.panel-heading Name: {{comment.name}}
					div.panel-body Body: {{comment.body}}

