extends layout

block content
	h1= title
	p Welcome to #{title}
	div
		- var my_var = 123;
		if (title=="")
			div.my_class.my_second_class(style="color:red", class="another_class") I'm a div inside the previous one #{my_var}
		div#my_id.
			content applied because of previous dot. #{my_var}

	p this is the title {{title}}

	div(class="panel" ng-repeat="post in posts")
		h4 Title: 
		p {{post.title}}
		h5 Body: 
		p {{post.body}}
		button(ng-click="toggleComments(post)") Comments
		div(ng-repeat="comment in post.comments")
			h5 Name:
			p {{comment.name}}
			h6 Body: 
			p {{comment.body}}


