extends layout

block content
	h1= title
	p Welcome to #{title}
	div
		- var my_var = 123;
		if (title=="")
			div.my_class.my_second_class(style="color:red", class="another_class") I'm a div inside the previous one #{my_var}
		div#my_id.
			content applied because of previous dot. #{my_var}

	p this is the title {{title}}
