doctype html
html(ng-app="ngMyApp")
	head
		link(rel="stylesheet", href="bootstrap-3.3.5-dist/css/bootstrap.css")
		link(rel="stylesheet", href="/stylesheets/style.css")
		script(src="javascripts/vendors/jquery-2.1.4.js")
		script(src="bootstrap-3.3.5-dist/js/bootstrap.js")
		script(src="javascripts/vendors/angular.js")
		script(src="javascripts/vendors/angular-route.js")
		script(src="javascripts/app.min.js")
	body(ng-controller = "mainController")
		include navbar-header
		div.container(id="content")
			block content
		include navbar-footer
