doctype html
html(ng-app="ngMyApp")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="javascripts/vendors/jquery-2.1.4.js")
		script(src="javascripts/vendors/angular.js")
		script(src="javascripts/app/controllers/main.js")
	body
		div(ng-controller="mainController")
			h2 {{title}}
			block content