doctype html
html(ng-app="ngMyApp")
	head
		title= title
		link(rel="stylesheet", href="bootstrap-3.3.5-dist/css/bootstrap.css")
		link(rel="stylesheet", href="/stylesheets/style.css")
		script(src="javascripts/vendors/jquery-2.1.4.js")
		script(src="bootstrap-3.3.5-dist/js/bootstrap.js")
		script(src="javascripts/vendors/angular.js")
		script(src="javascripts/app.min.js")
	body
		div.navbar.navbar-default.navbar-fixed-top
			div.container
				a.navbar-brand(ng-click="curr_view = 'home' ") 
					i.glyphicon.glyphicon-leaf 
					span hello this is nav bar
				ul.nav.navbar-nav.navbar-right
					li 
						a(ng-click="curr_view = 'posts' ") posts
					li 
						a(ng-click="curr_view = 'members' ") members
		div.container(id="content")
			block content
		div.navbar.navbar-default.navbar-fixed-bottom(id="footer")
			div.container
				p.text-center Copyright 2015