div.navbar.navbar-default.navbar-fixed-top
	div.container
		a.navbar-brand(ng-click="goView('home')") 
			i.glyphicon.glyphicon-leaf 
			span hello this is nav bar
		ul.nav.navbar-nav.navbar-right
			li 
				a(ng-click="goView('posts')") posts
			li 
				a(ng-click="goView('members')") members