h1.text-center Congrats, New Customer Submitted!

img.center-block(src="http://i.giphy.com/GA2FNpP1kAQNi.gif")

br
button.btn.btn-success.center-block(ng-click="registerNewCustomer()") Register Another New Customer