body {
	background-image: url("https://unsplash.imgix.net/photo-1434139240289-56c519f77cb0?dpr=2&fit=crop&fm=jpg&h=700&q=75&w=1050");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
  padding-top: 50px;
}

#content{
	padding-bottom:60px;
}

#footer{
	padding-top:17px;
}

.navbar-brand .glyphicon{
  color:green;
}

.navbar-brand span{
  padding-left:10px;
}