div.navbar.navbar-default.navbar-fixed-top
	div.container
		a.navbar-brand(href="/") 
			i.glyphicon.glyphicon-leaf 
			span hello this is nav bar
		ul.nav.navbar-nav.navbar-right
			li 
				a(href="/posts") posts
			li 
				a(href="/members") members
			li 
				a.btn.btn-warning(href="/logout", target="_self", ng-show="user") logout